#cities
  @include grid-row()
  ul.cities
    @include grid-column(12)
    @media #{$medium-only}
      @include block-grid(2)
    @media #{$large-only}
      @include block-grid(3)
    @extend .no-bullet
    > li
      margin-bottom: 1rem
      ul.tournaments
        @extend .no-bullet
        li
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
          &.more
            margin-top: .6em
