footer
  .content
    .developed-by= t '.developed_by_html', link: link_to('@Bastes', 'https://twitter.com/Bastes', target: '_blank')
    .report-at= t '.report_at_html', link: link_to(t('.the_github_page'), 'https://github.com/Bastes/city_grids/issues', target: '_blank')
